body {


    background-image: url(../Bilder/Angebotsseite/DSCF3971\ zugeschnitten\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;


    background-color: #F2CC0C;

    display: grid;
    grid-template-columns: 473px 1fr 237px;
    grid-template-rows: 1000px 500px
}

.container {
    display: flex;
    align-items: top;
    grid-column: 3/ span 1;
}

.logo {
    /* grid-column: 3 / span 1; */
    /* margin-left: 9%; */
    position: fixed;
    padding-top: 10px;
    /* width: 100%; */
    padding-left: 130px;
    /* text-align: right; */
}

.logobild {
    /* grid-column: 3 / span 1; */
   
    height: 27px;
    width: 98px;
    
    /* position: sticky; */
    /* top: 13px; */
    /* align-self: flex-start; */

}

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    list-style: none;
    text-align: right;
    padding-top: 315px;
}


#login a,
#favoriten a,
#uberuns a,
#blog a,
#angebot a,
#kontakt a {
    text-decoration: none;
    color: white;
}

.starttitel {
    font-size: 10vw;
    diaplay: flex;
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
}

h1 {
    margin: 0;
    font-family: "paralucent";
    /* font-size: 500px; */
    color: white;
    text-align: left;
    padding: top 50px;
    line-height: 80%;

}


.abfall-title {
    font-size: 10vw;
}


.container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

}