/* general ------------------------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
}

body {

    background-image: url(../Bilder/Angebotsseite/DSCF3971\ zugeschnitten\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #F2CC0C;
}

/* width: 100%;
    background-image: url(hintergrundbild.jpg)
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
} */

/* impressum specifics ------------------------------------------------------------------------------------------ */

.titel {
    margin-left: 55px;
    display: flex;
}


/* h1 {
    margin: 0vw;
    font-family: "paralucent";
    color: white;
    text-align: left;
    line-height: 70%;
}

.starttitel {
    font-size: 13vw;
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
}

.abfall-title {
    font-size: 17vw;
    margin-left: 2vw; */

h1 {
    font-family: "paralucent";
    font-size: 350px;
    color: white;
    padding: top 50px;
    padding-left: 7px;
    font-family: Paralucent;
    font-weight: 700;

    margin: 0;
    text-align: left;
    padding: top 50px;
    line-height: 80%;
}

h2 {
    font-family: "paralucent";
    font-size: 40px;
    color: white;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

    margin: 0;
    text-align: left;
    padding: top 50px;
    line-height: 80%;
}

.datenangebot {
    font-family: "paralucent";
    color: white;
    line-height: 48px;
    /* margin-left: 1vw; */
    margin-right: 14vw;
    margin-top: 90px;
    border-right: 0.5vw solid #FFE76E;
    padding-right: 1vw;
    padding-top: 168px;
    padding-bottom: 50px;
}

.datenangebot h2 {
    margin-top: 2em;

    color: #FFF;
    font-family: Paralucent;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.text {
    color: #FFF;
    font-family: Paralucent;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.texteins {
    color: #FFF;
    font-family: Paralucent;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-right: 1vw;
    margin-left: 1vw;

}

.textzwei {

    color: #FFF;
    font-family: Paralucent;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-left: #FFE76E solid 0.5vw;
    padding-top: 15vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    margin-left: 36.35vw;
}

.blockeins {
    display: flex;
    align-items: end;
}


.bildeins {
    height: 70vw;
    padding-left: 1vw;
    border-left: #FFE76E solid 0.5vw;
}


.bieten {
    padding-top: 1vw;
    border-top: #FFE76E solid 0.5vw;
    padding-right: 1vw;
    width: 100%;
}

.white-circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white

}
/* writing-mode: vertical-lr; */


/* logo ------------------------------------------------------------------------------------------ */

.logo {
    position: fixed;
    right: 20px;
    top: 16px;

}

.logobild {
    height: 27px;
    width: 98px;
}

/* navigation ------------------------------------------------------------------------------------------ */

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    list-style: none;
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.burger li a {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.15vw;
    text-underline-offset: 0.3vw;

}

#login a,
#favoriten a,
#uberuns a,
#kontakt a,
#blog a {
    text-decoration: none;
}



/* footer ------------------------------------------------------------------------------------------ */

footer {

    border-top: 0.5vw solid #FFE76E;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}


.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px;
}

.left-content p,
.right-content p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}


.left-content {
    padding-left: 50px;
}

.right-content {
    padding-right: 50px;
}

.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px;
}

.left-content p,
.right-content p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}