body {


    background-image: url(../Bilder/Angebotsseite/DSCF3971\ zugeschnitten\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;


    background-color: #F2CC0C;
    display: grid;
    grid-template-columns: 473px 1fr 237px;
}

.container {
grid-column: 3/ span 1;
}

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    list-style: none;
    text-align: right;
    padding-top: 315px;
}

#login a,
#favoriten a,
#uberuns a,
#kontakt a,
#angebot a {
    text-decoration: none;
    color: white;
}


h1 {
    margin: 0;
    font-family: "paralucent";
    font-size: 500px;
    color: white;
    text-align: left;
    padding: top 50px;
    line-height: 80%;

}


.abfall-title {
    font-size: 300px;
    }


