body {


    background-image: url(../Bilder/Angebotsseite/DSCF3971\ zugeschnitten\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;


    background-color: #F2CC0C;

    display: grid;
    grid-template-columns: 32.85% 50.69% 16.46%;
    grid-template-rows: 37.5% 20% 54%
}

.logo {
    margin-left:0 !important;
}

/* Title */

h1 {
    margin: 0vw;
    font-family: "paralucent";
    color: white;
    text-align: left;
    line-height: 70%;

}

p {
    font-family: paralucent;
    color: white;
    font-size: 3vw;
}


/* Menü */
.Menulinie {
    grid-column: 3/span 1;
    grid-row-end: span 4;
    border-left: #FFE76E solid 0.25vw;

}
.container {
    display: flex;
    align-items: top;
    grid-column: 3/ span 1;
    justify-content: space-around;
}

.logo {
    position: fixed;
    padding-top: 10px;
    padding-left: 130px;
}

.logobild {
    height: 27px;
    width: 98px;
}


.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    list-style: none;
    text-align: right;
    padding-top: 315px;
}


#login a {
    text-decoration: none;
    color: white;
}

#favoriten a {
    text-decoration: none;
    color: white;
}

#uberuns a {
    text-decoration: none;
    color: white;
}

#blog a {
    text-decoration: none;
    color: white;
}

#angebot a {
    text-decoration: underline;
    text-decoration-thickness: 0.13vw;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.3vw;
    color: white
}

#kontakt a {
    text-decoration: none;
    color: white;
}


/* Titelblatt */

.starttitel {
    font-size: 13vw;
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
}

.abfall-title {
    font-size: 17vw;
    margin-left: 2vw;
}

/* Text 1 */

.textblockeins {
    display: flex;
    grid-column: 1/ span 2;
    grid-row: 3/ span 1;
    align-self: flex-end;
}

.bildeins {
    height: 70vw;
    margin-right: 1vw;
    padding-left: 1vw;
    border-left: #FFE76E solid 0.25vw;
}

.texteinseins{
    margin-bottom: 2vw;
}

.texteinszwei{
    margin-bottom: 0vw;
}
