body {


    background-image: url(../Bilder/Angebotsseite/DSCF3971\ zugeschnitten\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;


    background-color: #F2CC0C;
    display: grid;
    grid-template-columns: 473px 1fr 237px;
    grid-template-rows: 1343px 1fr;
}

.container {
grid-column: 3/ span 1;
}

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    list-style: none;
    text-align: right;
    padding-top: 315px;
}

#login a,
#favoriten a,
#uberuns a,
#kontakt a,
#angebot a {
    text-decoration: none;
    color: white;
}


h1 {
    font-family: "paralucent";
    font-size: 467px;
    color: white;
    text-align: left;
    padding: top 50px;
    /* margin: -220px; */
    /* margin-top: -1100px; */
}

h2{
    font-family: "paralucent";
    font-size: 316px;
    color: white;
    text-align: left;
    padding-top: 50px;
    /* margin-top: -1000px; */
    /* margin: -220px; */
}

