footer {
    
    border-top: 0.5vw solid  #FFE76E;
    background-color: transparent;
    color: #fff;
    padding: 0.694vw;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}

.left-content p,
.right-content p,
.impressum a,
.awayste a,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 1.528vw; 
}

.left-content p,
.right-content p{
    margin-bottom: 0.347vw;
    margin-top: 0.347vw;
}

.impressum a,
.awayste a {
    margin-top: -0.556vw;
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}