/* general ------------------------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-image: url(../Bilder/Impressum/DSCF3932.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
    background-color: #F2CC0C
}

/* impressum specifics ------------------------------------------------------------------------------------------ */

.titel {
    margin-left: 3.819vw;
    display: flex;
}

h1 {
    font-family: "paralucent";
    font-size: 24.306vw;
    color: white;
    padding-left: 0.486vw;    ;
    font-family: Paralucent;
    font-weight: 700;
    margin: 0;
    text-align: left;
    line-height: 80%;
}

h2 {
    font-family: "paralucent";
    font-size: 2.778vw;
    color: white;
    font-weight: 700;
    line-height: 3.333vw;    ;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    line-height: 80%;
}

.datenimpressum {
    font-family: "paralucent";
    color: white;
    line-height: 3.333vw;
    margin-left: 3.819vw;   
    margin-top: 6.250vw;   
    border-left: 0.347vw    solid white;
    padding-left: 3.958vw;
    padding-top: 11.667vw;    
    padding-bottom: 3.472vw;    
}

.datenimpressum h2 {
    margin-top: 2em;
    
    color: #FFF;
    font-family: Paralucent;
    font-size: 2.778vw;    ;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.text {
    color: #FFF;
    font-family: Paralucent;
    font-size: 2.083vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}


/* logo ------------------------------------------------------------------------------------------ */

.logo {
    position: fixed;
    right:1.389vw; 
    top: 1.111vw;
}

.logobild {
    height: 1.875vw;
    width: 6.806vw;
}

/* navigation ------------------------------------------------------------------------------------------ */

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 2.778vw;
    font-weight: 500;
    line-height: 3.125vw;
    list-style: none;
    text-align: right;
    right: 1.389vw;
    top: 50%;
    transform: translateY(-50%);

    align-self: center;
}

.burger li a {
    text-decoration: none;
    color: white;
}



/* footer ------------------------------------------------------------------------------------------ */

footer {
    
    border-top: 0.347vw solid white;
    background-color: transparent;
    color: #fff;
    padding: 0.694vw;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}


.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 1.528vw; 
}

.left-content p,
.right-content p{
    margin-bottom: 0.347vw;    
    margin-top: 0.347vw;
}


.impressum a,
.awayste a {
    margin-top: -0.556vw;
    text-decoration: none;
    color: white;
    font-size: 1.528vw;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}


.left-content {
    padding-left: 3.472vw;
}

.right-content {
    padding-right: 3.472vw;
}

.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 1.528vw; 
}

.left-content p,
.right-content p{
    margin-bottom: 0.347vw;
    margin-top: 0.347vw;
}

.impressum p,
.awayste p {
    margin-top: -0.556vw;
}

@media (max-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }

    #menu.navIn + .burger {
        display: block;
    }

    #menu {
        position: fixed;
        right: 2vw;
        top: .5vw;
        display:block;
        font-size: 6vw;
        background-color: transparent;
        border: none;
        color: white;
        line-height: 1;
        z-index: 2;
    }

    .logo {
        left: 2vw;
    }

    ul.burger {
        display: none;
        position: fixed;
        background-color: #F2CC0C;
        width: 100%;
        height: 100%;
        right: 0;
        text-align: left;
    }
    .burger li a {   
        font-size: 45px;
        line-height: 45px;
        padding-left: 3vw;
    }
}

@media (min-width: 768px) {
    #menu {
        display:none;
    }
}