   /* general ------------------------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2CC0C;
    width: 100%;
    background-image: url(../Bilder/Homepage/DSCF3780\ bearbeitet.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-attachment: scroll; 
}

/* .titel { 
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    display: flex;
} */

.nullkon {
    height: 968px;
    width: 1342px;
    margin-left: 0.625vw;;
}

h1 {
    color: #FFF;
    text-align: left;
    font-family: Paralucent;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
    align-self: flex-start;
    margin-left: 0.625vw;
    margin-top: 1219px;
    color: white;
}

h2 {
    color: #FFF;
    text-align: left;
    font-family: Paralucent;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 73.6px;
    margin-left: 0.625vw;
    margin-top: 10px;
}

h3 {
    color: #FFF;
    text-align: left;
    font-family: Paralucent;
    font-size:70px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;    
    margin-left: 0.625vw;
    margin-top: 50px;
}

.schublade {
    display: flex;
}

.schubladeoffen {
    width: 45.139vw;
    height: 67.778vw;
    align-self: flex-end;
    margin-left: -22.222vw;
    margin-top: 10.042vw;
}

/* Text 1 */

.schublade {
    display: flex;
    grid-column: 1/ span 2;
    grid-row: 3/ span 1;
    align-self: flex-end;
}

.bild1 {
    height: 70vw;
    margin-right: 1vw;
    padding-left: 1vw;
}

.titel1 {
    margin-bottom: 2vw;
}

.text1 {
    margin-bottom: 0vw;
}

/* logo ------------------------------------------------------------------------------------------ */

.logo {
    position: fixed;
    right: 20px;
    top: 16px;
}

.logobild {
    height: 27px;
    width: 98px;
}

/* navigation ------------------------------------------------------------------------------------------ */

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    list-style: none;
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.burger li a {
    text-decoration: none;
    color: white;
}

/* footer ------------------------------------------------------------------------------------------ */

footer {
    
    border-top: 5px solid white;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}


.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px; 
}

.left-content p,
.right-content p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}


.left-content {
    padding-left: 50px;
}

.right-content {
    padding-right: 50px;
}

.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px; 
}

.left-content p,
.right-content p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}