body {
    background-color: #F2CC0C;
    display: grid;
    grid-template-columns: 473px 1fr 237px;
    grid-template-rows: 1050px 867px 330px 1005px 70px 1005px 70px 680px 70px 1005px 70px 1005px 50px 500px 40px 900px;
    background-image: url(/Bilder/Homepage/DSCF3780\ bearbeitet.jpg);
    background-size: 100% 34%;
    background-position: center top;
    background-repeat: no-repeat;
}

.titel {
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    
    display: flex;
}

h2 {
    color: #FFF;
    text-align: right;
    font-family: Paralucent;
    font-size: 170px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
    align-self: flex-start;
    margin-left: 0.625vw;
    margin-top: 2109px;
    color: white;
   
}

h3 {
    color: #FFF;
    font-family: Paralucent;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 73.6px;
    justify-self: flex-start;
    margin-top: 2109px
}