*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background-image: url(../Bilder/Kontaktseite/trauben\ zugeschnitten.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}


.container {
grid-column: 3/ span 1;
}

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    list-style: none;
    text-align: right;
    padding-top: 315px;
}

#login a,
#favoriten a,
#uberuns a,
#kontakt a,
#angebot a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    font-family: "paralucent";
    font-size: 500px;
    color: rgba(255, 255, 255, 0);
    text-align: left;
    padding: top 50px;
    line-height: 80%;

}


footer { 
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}
    




