body {
    background-color: #F2CC0C;
    display: grid;
    grid-template-columns: 473px 1fr 237px;
    grid-template-rows: 1050px 867px 60px 1005px 1005px 500px 150px 200px 1005px 70px 1005px 140px 150px 80px 360px;
    background-image: url(/Bilder/Team/DSCF3946.jpg);
    background-size: 100% 25%;
    background-position: center top;
    background-repeat: no-repeat;
}

.titel {
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;

    display: flex;
}

h2 {
    font-family: "paralucent";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    align-self: flex-start;

    margin-left: 9px;
    margin-top: 52px;
    color: white;
}


h1 {
    font-family: "paralucent";
    font-size: 350px;
    font-weight: 700;
    line-height: 420px;
    color: white;
    line-height: 250px;

    justify-self: flex-start;

    margin-left: -70px;
    margin-top: 54px;
}

h3 {
    grid-column: 1/ span 2;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 16px;
    font-weight: 700;
    color: white;
    margin-left: 22px;
}

.storyone {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    color: white;
    line-height: 48px;
    margin-left: 22px;
    margin-top: 90px;
}


.storytwo {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    color: white;
    line-height: 48px;
    justify-self: center;
    margin-top: 90px;
}

.philosophie {
    grid-column: 1/ span 2;
    grid-row: 6/ span 2;
    font-family: "paralucent";
    font-size: 40px;
    color: white;
    line-height: 48px;
}

h4 {
    font-style: italic;
    letter-spacing: 16px;
}

.kontakt {
    grid-column: 1/span 2;
    grid-row: 13/span 1;
    font-family: "paralucent";
    font-size: 40px;
    color: white;
}

.button {
    display: block;
    padding: 10px 30px;
    background: white;
    color: #F2CC0C;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 200px;
    height: 60px;
}

.button:hover {
    background: #FFE76E;
    color: white;
}

.film {
    grid-column: 1/span 2;
    grid-row: 16/span 2;
    display: flex;
    justify-content: left;
}

.luana {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    display: flex;
}

.simon {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
    display: flex;
}

.hanna {
    grid-column: 1/span 1;
    grid-row: 9/span 1;
    display: flex;
}

.sylvie {
    grid-column: 1/span 1;
    grid-row: 11/span 1;
    display: flex;
}

.namelinks {
    font-family: "paralucent";
    font-weight: 700;
    font-size: 200px;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: end;
    margin-left: -40px;
    margin-bottom: 20px;
}

.namerechts {
    font-family: "paralucent";
    font-weight: 700;
    font-size: 200px;
    color: white;
    writing-mode: vertical-lr;
    align-self: end;
    margin-left: 320px;
    margin-bottom: 20px;
}

.birthyearlinks {
    font-family: "paralucent";
    font-weight: 550;
    font-size: 80px;
    color: white;
    align-self: end;
    margin-left: -640px;
    margin-bottom: 10px;
}

.bildlinksone {
    width: 650px;
    height: 976px;
    align-self: flex-end;
    margin-left: -320px;
    margin-bottom: 15px;
}

.bildlinkstwo {
    width: 400px;
    height: 605px;
    align-self: center;
    margin-left: 30px;
}

.birthyearrechts {
    font-family: "paralucent";
    font-weight: 550;
    font-size: 80px;
    color: white;
    align-self: end;
    margin-left: -640px;
    margin-bottom: 10px;
}

.bildrechtsone {
    width: 400px;
    height: 600px;
    align-self: center;
    margin-left: 10px;
}

.bildrechtstwo {
    width: 650px;
    height: 975px;
    align-self: center;
    margin-left: 30px;
}







