body {
    background-color: #F2CC0C;
    display: grid;
    grid-template-columns: 32.85% 50.69% 16.46%;
    grid-template-rows: 12.05% 9.95% 6% 11.53% 2% 11.53% 2% 10% 2% 11.53% 2% 11.53% 2% 5.74% 2% 10.32%;
    background-image: url(/Bilder/Team/DSCF3946.jpg);
    background-size: 100% 130.681vw;
    background-position: center top;
    background-repeat: no-repeat;
}

.titel {
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    
    display: flex;
}

h2 {
    font-family: "paralucent";
    font-size: 4.167vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 1.389vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    align-self: flex-start;

    margin-left: 0.625vw;
    margin-top: 3.611vw;
    color: white;
}


h1 {
    font-family: "paralucent";
    font-size: 24.306vw;
    font-weight: 700;
    line-height: 29.167vw;
    color: white;
    line-height: 17.361vw;

    justify-self: flex-start;

    margin-left: -4.861vw;
    margin-top: 3.750vw;
}

h3 {
    grid-column: 1/ span 2;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 2.778vw;
    line-height: 3.333vw;
    letter-spacing: 1.111vw;
    font-weight: 700;
    color: white;
    margin-left: 1.528vw;
}

.storyone {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 2.778vw;
    font-weight: 500;
    color: white;
    line-height: 3.333vw;
    margin-left: 1.528vw;
    margin-top: 6.250vw;
}


.storytwo {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    font-family: "paralucent";
    font-size: 2.778vw;
    font-weight: 500;
    color: white;
    line-height: 3.333vw;
    justify-self: center;
    margin-top: 6.250vw;
}

.philosophie {
    grid-column: 1/ span 2;
    grid-row: 8/ span 2;
    font-family: "paralucent";
    font-size: 2.778vw;
    color: white;
    line-height: 3.333vw;
}

h4 {
    font-style: italic;
    letter-spacing: 1.111vw;
}

.kontakt {
    grid-column: 1/span 2;
    grid-row: 14/span 1;
    font-family: "paralucent";
    font-size: 2.778vw;
    color: white;
}

.film {
    grid-column: 1/span 2;
    grid-row: 16/span 2;
    display: flex;
    justify-content: left;
}

.luana {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    display: flex;
}

.simon {
    grid-column: 1/span 1;
    grid-row: 6/span 1;
    display: flex;
}

.hanna {
    grid-column: 1/span 1;
    grid-row: 10/span 1;
    display: flex;
}

.sylvie {
    grid-column: 1/span 1;
    grid-row: 12/span 1;
    display: flex;
}

.namelinks {
    font-family: "paralucent";
    font-weight: 700;
    font-size: 13.889vw;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: end;
    margin-left: -2.778vw;
    margin-bottom: 1.389vw;
}

.namerechts {
    font-family: "paralucent";
    font-weight: 700;
    font-size: 13.889vw;
    color: white;
    writing-mode: vertical-lr;
    align-self: end;
    margin-left: 22.222vw;
    margin-bottom: -3vw;
}

.birthyearlinks {
    font-family: "paralucent";
    font-weight: 550;
    font-size: 5.556vw;
    color: white;
    align-self: end;
    margin-left: -44.444vw;
    margin-bottom: 0.694vw;
}

.bildlinksone {
    width: 45.139vw;
    height: 67.778vw;
    align-self: flex-end;
    margin-left: -22.222vw;
    margin-bottom: 1.042vw;
}

.bildlinkstwo {
    width: 27.778vw;
    height: 42.014vw;
    align-self: center;
    margin-left: 2.083vw;
}

.birthyearrechts {
    font-family: "paralucent";
    font-weight: 550;
    font-size: 5.556vw;
    color: white;
    align-self: end;
    margin-left: -44vw;
    margin-bottom: -4vw;
}

.bildrechtsone {
    width: 27.778vw;
    height: 41.667vw;
    align-self: center;
    margin-left: 0.694vw;
}

.bildrechtstwo {
    width: 45.139vw;
    height: 67.708vw;
    align-self: center;
    margin-left: 2.083vw;
}

.luanalinks {
    display: flex;
}

@media (max-width: 1000px) {
    
    .bildlinkstwo {
        display: none;
    }

    .bildrechtsone {
        display: none;
    }

    .bildlinksone {
        width: 70vw;
        height: 105.1078vw;
        align-self: flex-end;
        margin-left: -22.222vw;
        margin-bottom: 1.042vw;
    }

    .bildrechtstwo {
        width: 70vw;
        height: 105.1078vw;
        align-self: center;
        margin-left: 2.083vw;
    }

    .birthyearlinks {
        font-family: "paralucent";
        font-weight: 550;
        font-size: 5.556vw;
        color: white;
        align-self: end;
        margin-left: -14vw;
        margin-bottom: 0.694vw;
    }

}


/* logo ------------------------------------------------------------------------------------------ */

.logo {
    position: fixed;
    right: 20px;
    top: 16px;
}

.logobild {
    height: 27px;
    width: 98px;
}

/* navigation ------------------------------------------------------------------------------------------ */

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    list-style: none;
    text-align: right;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.burger li a {
    text-decoration: none;
    color: white;
}

/* footer ------------------------------------------------------------------------------------------ */

footer {
    
    border-top: 0.5vw solid  #FFE76E;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}


.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px; 
}

.left-content p,
.right-content p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}


.left-content {
    padding-left: 50px;
}

.right-content {
    padding-right: 50px;
}

.left-content p,
.right-content p,
.impressum p,
.awayste p,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 22px; 
}

.left-content p,
.right-content p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.impressum p,
.awayste p {
    margin-top: -8px;
}

@media (min-width: 768px) {

    .left-content,
    .right-content {
        flex-direction: row;
    }
}