/* general ------------------------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.5vw;
}


body{
    width: 100%;
    background-image: url(/Bilder/Team/DSCF3946.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll; 
    background-color: #F2CC0C;
}

/* texte ------------------------------------------------------------------------------------------ */

.titel {
   display: flex;
   font-family: "paralucent";
   font-weight: 700;
   color: white;
}

h2 {
    font-size: 4.167vw;
    line-height: 5vw;
    letter-spacing: 1.389vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 0.625vw;
}

h1 {
    font-size: 24.306vw;
    line-height: 29.167vw;
    line-height: 17.361vw;
    margin-top: 3.750vw;
}

h3 {
    font-family: "paralucent";
    font-size: 2.778vw;
    line-height: 3.333vw;
    letter-spacing: 1.111vw;
    font-weight: 700;
    color: white;
    margin-left: 1.528vw;
    margin-top: 15vw;
}

.inhaltueberuns {
    font-family: "paralucent";
    color: white;
    font-size: 2.778vw;
    line-height: 3.333vw;
    margin-right: 16vw;
    margin-top: 6.250vw;
    border-right: 0.5vw solid #FFE76E;
    padding-right: 1vw;
    padding-bottom: 3.472vw;
}

.geschichtetext {
    display: flex;
    font-weight: 500;
    margin-top: 0.1vw;
}

.storyone {
    padding-left: 2vw;
    padding-right: 6vw;
}

.storytwo {
    padding-left: 6vw;
    padding-right: 6vw;
    border-left: #FFE76E 0.5vw solid;
}

.philosophie {
    padding-bottom: 2vw;
    padding-top: 6vw;
    margin-left: 1.528vw;
    border-bottom: 0.5vw solid #FFE76E;
}

h4 {
    font-style: italic;
    letter-spacing: 1.111vw;
    margin-bottom: 3vw;
}

h5 {
    margin-top: 3vw;
}

.kontakt {
    font-weight: 700;  
    margin-left: 1.528vw;
    padding-bottom: 2vw;
    padding-top: 6vw;
    border-bottom: 0.5vw solid #FFE76E;
}

.freuenuns {
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 1000px) {
    
    h3 {
        margin-top: 7vw;
    }

    .geschichtetext {
        margin-top: 5vw !important;
    }

}

/* bilder ------------------------------------------------------------------------------------------ */

.vorschau {
    display: flex;
    justify-content: left;
    width: 60vw;
    height: 40vw;
}

.luana {
    display: flex;
    padding-bottom: 4vw;
    padding-top: 8vw;
    margin-left: -3.5vw;
    border-bottom: 0.5vw solid #FFE76E;
}

.simon {
    display: flex;
    margin-left: 1vw;
    padding-bottom: 4vw;
    padding-top: 6vw;
    border-bottom: 0.5vw solid #FFE76E;
}

.hanna {
    display: flex;
    margin-left: -3.5vw;
    padding-bottom: 4vw;
    padding-top: 6vw;
    border-bottom: 0.5vw solid #FFE76E;
}

.sylvie {
    display: flex;
    margin-left: 1vw;
    padding-bottom: 4vw;
    padding-top: 6vw;
    border-bottom: 0.5vw solid #FFE76E;
}

.image-container-links {
position: relative;
margin-top: 10vw;
}

.image-container-links img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    width: 27.778vw;
    height: 42.014vw;
    margin-left: 2.083vw;
}

.bildlinkstwo {
    opacity: 1;
}

.hoverimagelinks {
    opacity: 0;
}

.image-container-links:hover .hoverimagelinks {
    opacity: 1;
}

.image-container-links:hover .bildlinkstwo {
    opacity: 0;
}

.bildlinksone {
    width: 50.486vw;
    height: 62.778vw;
    align-self: flex-end;
}

.image-container-rechts {
    position: relative;
    margin-top: 10vw;
    }
    
    .image-container-rechts img {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease;
        width: 27.778vw;
        height: 42.014vw;
        margin-left: 0.694vw;
    }
    
    .bildrechtsone {
        opacity: 1;
    }
    
    .hoverimagerechts {
        opacity: 0;
    }
    
    .image-container-rechts:hover .hoverimagerechts {
        opacity: 1;
    }
    
    .image-container-rechts:hover .bildrechtsone {
        opacity: 0;
    }

.bildrechtstwo {
    width: 50.486vw;
    height: 62.778vw;
    margin-left: 30.6vw;
}

@media (max-width: 1000px) {
    
    .image-container-links {
        display: none;
    }

    .image-container-rechts {
        display: none;
    }

    .luana {
        margin-top: 20vw;
    }

    .bildlinksone {
        align-self: center;
        width: 80.972vw;
        height: 100.556vw;
    }

    .bildrechtstwo {
        width: 80.972vw;
        height: 100.556vw;
        margin-left: 4vw;
    }

}

/* logo ------------------------------------------------------------------------------------------ */

.logo {
    position: fixed;
    right: 1.389vw;
    top: 1.111vw;
}

.logobild {
    height: 1.875vw;
    width: 6.806vw;
}

/* navigation ------------------------------------------------------------------------------------------ */

.burger {
    position: fixed;
    font-family: "paralucent";
    font-size: 2.778vw;
    font-weight: 500;
    line-height: 3.125vw;
    list-style: none;
    text-align: right;
    right: 1.389vw;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
}

.burger li a {
    text-decoration: underline;
    color: white;
}

#login a,
#favoriten a,
#angebot a,
#kontakt a,
#blog a {
    text-decoration: none;
}

.button {
    display: block;
    padding: 0.694vw 2.083vw;
    background: white;
    color: #F2CC0C;
    border: none;
    border-radius: 1.042vw;
    font-size: 1.389vw;
    width: 13.889vw;
    height: 4.167vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.button:hover {
    background: #FFE76E;
    color: white;
}

.button a {
    color: #F2CC0C;
    text-decoration: none;
}

.button:hover a {
    color: white; 
}

.filmbutton {
    display: flex;
    justify-content: left;
    width: 60vw;
    height: 40vw;
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 1.528vw;
    align-self: center;
}

/* footer ------------------------------------------------------------------------------------------ */

footer {
    
    border-top: 0.5vw solid  #FFE76E;
    background-color: transparent;
    color: #fff;
    padding: 0.694vw;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paralucent", sans-serif;
}

.left-content p,
.right-content p,
.impressum a,
.awayste a,
.facebook p,
.instagram p {
    margin: 0;
    font-size: 1.528vw; 
}

.left-content p,
.right-content p{
    margin-bottom: 0.347vw;
    margin-top: 0.347vw;
}

.impressum a,
.awayste a {
    margin-top: -0.556vw;
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {

    #menu.navIn + .burger {
        display: block;
    }

    #menu {
        position: fixed;
        right: 2vw;
        top: .5vw;
        display:block;
        font-size: 6vw;
        background-color: transparent;
        border: none;
        color: white;
        line-height: 1;
        z-index: 2;
    }

    .logo {
        left: 2vw;
    }

    ul.burger {
        display: none;
        position: fixed;
        background-color: #F2CC0C;
        width: 100%;
        height: 100%;
        right: 0;
        text-align: left;
    }
    .burger li a {   
        font-size: 45px;
        line-height: 45px;
        padding-left: 3vw;
    }
}

@media (min-width: 768px) {

    #menu {
        display:none;
    }
}